@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: 100vh;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "bioimage bio bio"
    "tl tl tl";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.2rem;
  }

  .timeline {
    grid-area: tl;
  }

  .timeline h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .timeline ul {
    border-left: 4px solid $secondary-color;
    border-radius: 0.8rem;
    background-color: $primary-color;
    margin: 0 auto;
    list-style: none;
    text-align: left;
    width: 70%;
  }

  .timeline h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: 0.5;
  }

  .timeline .date {
    border-bottom: 1px solid $secondary-color;
    margin-bottom: 1rem;
  }

  .timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  .timeline .date::before,
  .timeline .date::after {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline .date::before {
    content: attr(data-date);
    text-align: right;
    min-width: 12rem;
    font-size: 1rem;
  }

  .timeline .date::after {
    content: "";
    box-shadow: 0 0 0 $secondary-color;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: $primary-color;
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  max-width: 850px;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;

  img {
    width: 100%;
    border: 3px #fff solid;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .image-container {
    position: relative;
    text-align: center;
  }

  .tech-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
      border: none;
      width: 30%;
      margin: 0.5rem;
    }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
